.contactContainer {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.contactDetails {
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formContainer {
  margin: auto;
  background-color: brown;
  padding: 20px;
}

.firstRow {
  width: 100%;
}

.firstRow input {
  width: 50%;
}

.formContainer form {
  width: 50rem;
  background-color: blue;
}

.subject,
textarea {
  width: 100%;
  background-color: red;
}
