.contactContainer {
  /* background-color: #1d1c1c; */
  width: 75%;
  margin: auto;
  padding: 4px 0;
  z-index: 1;
  color: #a2a2a2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  /* border-radius: 5rem; */
}

.contactDetails {
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
}

.info span {
  color: #007bff;
}

.info p {
  margin-top: -3px;
}

.formContainer {
  margin: auto;
  padding: 20px;
}

input {
  height: 2rem;
  border-radius: 1rem;
  padding-left: 10px;
}

.firstRow {
  width: 100%;
  margin-bottom: 10px;
}

.firstRow input {
  width: 48.7%;
  outline: none;
  margin: 0 5px;
  background-color: rgba(161, 139, 139, 0.063);
  color: #fff;
}

.formContainer form {
  width: 50rem;
  margin: 0 auto;
  display: block;
}

form button {
  margin: 0 auto;
  display: block;
  background-color: #007bff;
  color: #fff;
  border-radius: 1.4rem;
}

form button:hover {
  background-color: #396da6;
}

.subject,
textarea {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 1rem;
  outline: none;
  padding-left: 10px;
  background-color: #1d1c1c;
  color: #fff;
}

.formContainer .formTitle {
  text-align: center;
  margin-bottom: 10px;
  color: #007bff;
}

.contactContainer h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.contactContainer h2 div {
  width: 50px;
  height: 3px;
  background-color: #007bff;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .contactContainer {
    width: 100%;
  }

  .formContainer form {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .contactDetails {
    display: flex;
    flex-direction: column;
  }

  .firstRow {
    margin-bottom: -2px;
  }

  .firstRow input {
    width: 100%;
  }

  .firstRow > input {
    margin-bottom: 10px;
  }

  .subject,
  textarea {
    width: 100%;
  }

  form button {
    margin-bottom: 2rem;
  }
}
