.projectImg {
  width: 50%;
}

.projectImg:hover {
  transform: scale(1.008);
}

.projects {
  display: flex;
  width: 70%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 20px;
  margin: auto;
  gap: 20px;
}

.projectsContainer {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.tools {
  display: flex;
  gap: 8px;
}

.tools li {
  list-style-type: none;
  font-size: 15px;
  background-color: rgb(145, 138, 138);
  border-radius: 10px;
  padding: 3px;
}

.projectsCarousel {
  height: 350px;
}

.arrow {
  color: #fff;
  font-size: 2rem;
  margin: 0 5rem;
}

.arrow:hover {
  color: #0693e3;
  transform: scale(1.1);
}

.cardBtns {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  gap: 5px;
  border: 1.5px solid #000;
  margin: 0 auto;
  border-radius: 20px;
}

.my2 span {
  margin-right: 10px;
  font-weight: 700;
  font-style: oblique;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.projectText {
  font-size: 14px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }

  .projectImg {
    width: 100%;
    height: 15rem;
  }

  .tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: -17px;
  }

  .arrow {
    color: #fff;
    font-size: 2rem;
    margin: 0 -5rem;
  }

  .cardBtns {
    width: -moz-fit-content;
    width: fit-content;
    height: 2.4rem;
    border: 1.5px solid #000;
    margin: 0 auto;
    border-radius: 20px;
  }

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .my2 span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projectText {
    margin: 0 10px;
  }
}
