.projectImg {
  width: 50%;
}

.projectImg:hover {
  transform: scale(1.008);
}

.projects {
  display: flex;
  width: 70%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 20px;
  margin: auto;
  gap: 20px;
}

.projectsContainer {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

.tools {
  display: flex;
  gap: 8px;
}

.tools li {
  list-style-type: none;
  border: #000 1px solid;
  border-radius: 5px;
  padding: 2px;
}

.projectsCarousel {
  height: 350px;
}

.arrow {
  color: #0693e3;
  font-size: 2rem;
  margin: 0 5rem;
}

.arrow:hover {
  color: #fff;
  transform: scale(1.1);
}

.cardBtns {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  gap: 5px;
  border: 1.5px solid #000;
  margin: 0 auto;
}
