@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 10rem;
  background-color: #000;
  color: #fff;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #0693e3;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  right: 25px;
  display: none;
}

.hamburger:hover {
  background-color: #000;
}

.nav h1 span {
  color: #0693e3;
}

.site-title {
  font-size: 30px;
  font-weight: 600;
}

.home-title {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  align-items: center;
  padding: 0.25rem;
  font-size: 16px;
  font-weight: 500;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.container button {
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #0693e3;
  color: #fff;
  font-size: 17px;
}

.about-container button {
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #0693e3;
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
}

.container button:hover,
.about-container button:hover {
  background-color: #fff;
  color: #000;
}

.icon-container a {
  font-size: 2em;
  font-family: italic;
  color: #000;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.container a {
  text-decoration: none;
}

.card-btns a {
  text-decoration: none;
}

.icon-container a:hover {
  color: #0693e3;
}

.nav li a:hover {
  color: #0693e3;
}

.container {
  color: #fff;
  margin: auto;
  animation: slideInFromBottom 1s ease-in;
}

.container h1 span {
  color: #0693e3;
}

.container p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin: auto;
  max-width: 65%;
}

.about-container p {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.7;
  padding: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.contact {
  color: #fff;
}

.dev-img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}

.dev-imgTwo {
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

.bio {
  color: #fff;
  margin-top: -1.5rem;
  animation: slideInFromRight 1s ease-in;
}

.about-container {
  display: flex;
  margin: auto;
  margin-top: 5rem;
  gap: 40px;
  max-width: 65%;
}

.photo {
  animation: slideInFromLeft 1s ease-in;
}

.waves-container {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.waves {
  position: relative;
  width: 100%;
  height: 17vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  z-index: 100;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)     infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.source {
  border-left: 1.5px solid #000;
  border-radius: 0 50rem 50rem 0;
}

.source:hover {
  background-color: #0693e3;
  color: #fff;
}

.live {
  border-radius: 50rem 0 0 50rem;
}

.live:hover {
  background-color: #0693e3;
  color: #fff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.361rem 0.61rem;
  font-weight: 600;
  color: #000;
  margin: 0 auto;
}

.container2 {
  animation: slideInFromBottom 1s ease-in;
}

@media screen and (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }

  .hamburger {
    display: block;
  }

  .nav-links ul {
    position: absolute;
    top: 90px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #000;
    border-top: 1px solid black;
    padding-top: 5rem;
    gap: -10px;
    display: none;
  }

  .nav-links ul li {
    text-align: center;
    margin: auto;
  }

  .nav-links li a {
    color: #fff;
    width: 100%;
    padding: 1.5rem 0;
  }

  .nav-links li:hover {
    background-color: #eee;
  }

  .nav-links.expanded ul {
    display: block;
  }

  .site-title {
    font-size: 30px;
    font-weight: 600;
    margin-left: -143px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .home-container {
    margin-bottom: 2.5rem;
    margin-top: -45px;
  }

  .btn {
    margin-bottom: 2.5rem;
  }

  .dev-img {
    margin-left: -35px;
  }

  .photo {
    animation: slideInFromTop 1s ease-in;
  }

  .bio {
    animation: slideInFromBottom 1s ease-in;
  }
}
