@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 10rem;
  background-color: #000;
  color: #fff;
}

.nav h1 span {
  color: #0693e3;
}

.site-title {
  font-size: 30px;
  font-weight: 600;
}

.home-title {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5rem;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 16px;
  font-weight: 500;
}

button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.container button {
  margin: 0 auto;
  display: block;
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #0693e3;
  color: #fff;
  font-size: 17px;
}

.about-container button {
  border-radius: 30px;
  padding: 5px 20px;
  background-color: #0693e3;
  color: #fff;
  font-size: 17px;
  margin-left: 10px;
}

.container button:hover,
.about-container button:hover {
  background-color: #fff;
  color: #000;
}

.icon-container a {
  font-size: 3em;
  font-family: italic;
  color: #fff;
}

.container a {
  text-decoration: none;
}

.icon-container a:hover {
  color: #0693e3;
}

.nav li a:hover {
  color: #0693e3;
}

.container {
  color: #fff;
  margin: auto;
  animation: slideInFromBottom 1s ease-in;
}

.container h1 span {
  color: #0693e3;
}

.container p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  margin: auto;
  max-width: 65%;
}

.about-container p {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.7;
  padding: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 5px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.skill,
.projects,
.contact {
  color: #fff;
}

.dev-img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
}

.dev-imgTwo {
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

.bio {
  color: #fff;
  margin-top: -1.5rem;
  animation: slideInFromRight 1s ease-in;
}

.about-container {
  display: flex;
  margin: auto;
  margin-top: 5rem;
  gap: 40px;
  max-width: 65%;
}

.pho {
  animation: slideInFromLeft 1s ease-in;
}
